.hover-b--current:hover,
.hover-b--current:focus,
.active
 {
  border-right:5px solid #04d6cb;
  color:#04d6cb
}

.side-menu-container {
    position:fixed;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 120px;
    overflow-y: auto;
    margin-top: 0%;
    color: rgb(179, 179, 179);
    height:100%;
    padding-top: 130px;  
    box-shadow: 3px 0 6px -7px black;  
  }
  .side-menu-item {
    list-style-type: none;
    line-height: 28px;
    font-size: 30px;
    cursor: pointer;
     white-space: nowrap;
     margin-bottom: 30%;
  }
  @media screen and (max-width:1125px) {
    .side-menu-container {
        display: none !important;
    }
}